@page
@model DuelSysWeb.Pages.TournamentPageModel
@{
}
<form method="post" class="event-container">
    @foreach (var tournament in Model.tournaments)
    {
        if (Model.OldYear.Year != tournament.Time.Start.Year)
        {
            <h3 class="year">@tournament.Time.Start.Year</h3>
        }

        <div class="event">
            <div class="event-left">
                <div class="event-date">
                    <div class="date">@tournament.Time.Start.ToString("dd")</div>
                    <div class="month">@tournament.Time.Start.ToString("MMM")</div>
                </div>
            </div>

            <div class="event-right">
                <h3 class="event-title">@tournament.Name</h3>

                <div class="event-description">@tournament.Description</div>
            </div>

            <div class="event-end">
                <input class="input-none" value="@tournament.Id" asp-for="TournamentId" />
                @*this should go to the logic layer (make a bool method)*@
                @if (tournament.Time.Start < DateTime.Now.AddDays(7))
                {
                    <button class="expired">Expired</button>
                    <input class="input-none" value="expired" asp-for="buttonType" />
                } else if (!Model.AlreadyRegistered(tournament.Id))
                {
                    <button class="participate" type="submit">Participate</button>
                    <input class="input-none" value="participate" asp-for="buttonType" />
                    
                } else if (Model.AlreadyRegistered(tournament.Id))
                {
                    <button class="cancel" type="submit">Cancel</button>
                    <input class="input-none" value="cancel" asp-for="buttonType" />
                }
            </div>
        </div>

        Model.OldYear = tournament.Time.Start;
    }
</form>

